/* Directiva para fuente de Dafont */
@font-face {
    font-family: Reydex;
    src: url(/Reydex.ttf);
}

*{
    /* Color, cambia color de text */
    color: black;
    /* Fuente (esta no aparece porque la siguiente la sobreescribe)*/
    font-family: Reydex;
    /* Fuente sacada de Google */
    font-family: 'Roboto', sans-serif;
    /* Tamaño de la fuente */
    font-size: 12pt;
    /* Color de fondo */
    background-color: transparent;
    /* Estilo de lista */
    list-style: none;
    /* Decoracion de texto */
    text-decoration: none;
    /* Sombra de texto PROPIEDAD PROHIBIDA */
    text-shadow: none;
    /* Borde, normalmente se usa para ver el boxsize de una pagina web */
    /* border: solid 2px red; */
    /* Quitar Outline */
    outline: none;
    /* Setear los espacios */
    margin: 0%;
    padding: 0%;
    
    /* PROPIEDAD QUE DEBE IR TODO EL TIEMPO */
    box-sizing: border-box;

}
main{
    max-width: 1400px;
    margin: 0 auto;
}
/* Estilo para las listas */
li{
    /* Ancho de la caja */
    /* width: 200px; */
    /* Alto de la caja */
    /* height: 50px; */
    /* Generar color gradiente
    background-image: linear-gradient(45deg, black, blue); */
    /* Usar imagen como fondo
    background-image: url(/Foto_Canal.jpg);*/
    background-size: 50%; 
}

.header{
    padding: 1em;
    /* Pega el menu hacia arriba */
    /* position: sticky;
    top: 0;
    left: 0;
    width: 100%; */
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar .list{
    gap: 16pt;
    
    display: flex;

    align-items: center;
}

.right1{
    text-align: right;
}
.right2{
    text-align: right;
}

.Zed{
    display: flex;
}
.Yi{
    display: flex;
}
.Lee{
    display: flex;
}
.Kassadin{
    display: flex;
}
section{
    padding: 40pt 80pt;
    justify-content: space-between;
}
.contacto{
    color: #f2f2f2;
    background-color: #048ABF;
    border: none;
    
}
button:hover{
    background-color: #048ABF;
}
button{
    padding: 0.5rem 1.7rem;
    border: solid 1px #1e1e1e;
    border-radius: 7px;
}

p{
    margin-top: 4pt;
    margin-bottom: 8pt;
    max-width: 500px;
}
img:hover{
    /* Agrandado de imagen */
    transform: scale(1.2);
}
img{
    /* Transicion para agrander imagen */
    transition: all 0.6s ease-out;
}